h1,
p {
    text-align: center;
}

.grid {
    display: flex;
}

.character button {
    background-color: rgb(28, 95, 182);
    color: white;
    border: #aaa;
}

.character img {
    width: 250px;
}

.character {
    margin: 20px 15px;
    text-align: center;
    border: #bbb;
    box-shadow: 0 2px 3px #bbb;
    width: 40%;
    padding: 20px;
}