h1 {
    text-align: center;
}

.favorites {
    text-align: center;
    border: #aaa;
    box-shadow: 0 2px 3px #bbb;
    padding: 10px;
    margin: 20px 15px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.add {
    background-color: rgb(28, 95, 182);
    color: white;
    border: #aaa;
    padding: 10px;
}

.remove {
    background-color: red;
    color: white;
    border: #aaa;
    padding: 10px;
}

img {
    width: 250px;
}

.character {
    margin: 20px 15px;
    text-align: center;
    border: #bbb;
    box-shadow: 0 2px 3px #bbb;
    width: 45%;
    padding: 20px;
}

.favorite {
    background-color: rgba(25, 95, 182, 0.4);
}

.selected {
    background-color: rgb(28, 95, 182);
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.not-selected {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
}